<footer>
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  
                  <h4>About us</h4>
                  <p>Founded in 2024 in Pakistan, The Style Studio is a leading fashion destination dedicated to providing the latest 
                    trends and timeless designs. Our passion for style and quality craftsmanship ensures that every piece we offer 
                    reflects sophistication, elegance, and modern flair. Whether you're seeking everyday chic or something more 
                    special, The Style Studio delivers high-quality apparel and accessories for every occasion, empowering you to 
                    express your unique sense of style.</p>
              </div>

              <div class="col-md-4">
                  <h4 class="ps-4">Contact Us</h4>
                  <ul class="address1">
                      <li><i class="fa fa-map-marker"></i>The Style Studio, CUI Lahore</li>
                      <li><i class="fa fa-envelope"></i><a href="mailto:#">TheStyleStudio@gmail.com</a></li>
                      <li><i class="fa fa-mobile" aria-hidden="true"></i> <a href="#">03219876543</a></li>
                  </ul>
              </div>

              <div class="col-md-4">
                  <h4 class="ps-4">Follow us</h4>
                  <ul class="social-icon">
                      <li><a href="#"><img src="https://img.icons8.com/?size=100&id=kQzCK4emnaD2&format=png&color=000000"></a></li>
                      <li><a href="#"><img src="https://img.icons8.com/?size=100&id=RhYNENh5cxlS&format=png&color=000000>"></a></li>
                      <li><a href="#"><img src="https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=000000"></a></li>
                      <li><a href="#"><img src="https://img.icons8.com/?size=100&id=37326&format=png&color=000000"></a></li>
                  </ul>
              </div>

          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-sm-5">
                  <p class="copyright text-uppercase">Copyright © 2024
                  </p>
              </div>
              <div class="col-sm-7">
                  <ul>
                      <li><a href="/">Home</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
